/* header */
header{
	margin: 20px;
}
h1{
	text-align: center;
	color: #0B0B61;
}
ul{
	text-align: center;
	padding: 5px;
}
li{
	display: inline-block;
	color: lightgray;
	padding: 30px;
	font-size: 16px;
}
/* seccion studio*/
.fondostudio{
	background-image: url("../img/dance_1.jpg");
	height: 480px;
}
.studio{
	font-size: 80px;
	color: lightgray;
	font-weight: 700;
	margin-left: 150px;
	padding-top: 80px;
}
.ts{
	font-size: 14px;
	color: lightgray;
	margin-left: 150px;
	padding-top: 20px;
}
.botstu{
	background-color: #0B0B61;
	border: none;
	padding: 15px;
	width: 150px;
	color: white;
	font-size: 14px;
	margin-left: 150px;
	margin-top: 40px;
	border-radius: 2px;
}
/* seccion oferta clases*/
.fondoclases{
	background-image: url("../img/textura_2.jpg");
}
.textclases{
	text-align: center;
	font-size: 24px;
	padding-top: 80px;
}
.deco{
	margin-left: 645px;
	height: 120px;
	width: 120px;
}
.botclas{
	background-color: #0B0B61;
	border: none;
	padding: 15px;
	width: 250px;
	color: white;
	font-size: 14px;
	margin-right: 200px;
	margin-top: 0px;
	margin-left: 585px; 
	margin-bottom: 100px;
	border-radius: 2px;
}
/* seccion nuestros instructores*/

.fotoins1{
	height: 467px;
	width: 712px;
	border: #0B0B61 solid 2.5px;
}
.fotoins2{
	height: 467px;
	width: 711px;
	margin-right: 250px;
	border: #0B0B61 solid 2.5px;
}
.botins{
	background-color: #0B0B61;
	border: none;
	padding: 45px;
	width: 500px;
	color: white;
	font-size: 18px;
	margin-right: 200px;
	margin-top: 0px;
	margin-left: 450px; 
	position: relative;
	bottom: 115px;
	margin-bottom: 0px;
	border-radius: 2px;
}
.fondofrase{
	background-image: url("../img/textura_2.jpg");
	height: 300px;
	position: relative;
	bottom: 0px;
	margin-top: -115px;
}
.frase{
	text-align: center;
	font-size: 40px;
	padding-top: 0px;
}
/* seccion mapa*/
.fondomap{
	background-color: #0B0B61;
	height: 550px;
}
.tm{
	font-size: 14px;
	color: lightgray;
	margin-left: 150px;
	padding-top: 80px;
}
.visit{
	color: lightgray;
	margin-left: 150px;
	padding-top: 20px;
}
.mapa{
	margin-top: 80px;
}
/* seccion contactanos*/
.puntas{
	background-image: url("../img/shoes_1.jpg");
	background-repeat: no-repeat;
	text-align: right;
	height: 500px;
	margin-left: 100px;
	background-position: right;
}
.contact{
	text-align: left;
	margin-top: 50px;
	font-size: 30px;
	color: #0B0B61; 
	margin-left: 60px;
}
.formulario{
	text-align: left;
	margin-right: 500px;
}
.nombre{
	display: block;
	width: 450px;
	font-size: 14px;
	color: black;
	margin-left: 50px;
	padding: 10px 10px 10px 30px;
	margin-top: 10px;
	background-image: url("../iconos/user-2.png");
	background-repeat: no-repeat;
}
.email{
	display: block;
	width: 450px;
	font-size: 14px;
	color: black;
	margin-left: 50px;
	padding: 10px 10px 10px 30px;
	margin-top: 10px;
	background-image: url("../iconos/email.png");
	background-repeat: no-repeat;
}
.mensaje{
	display: block;
	width: 450px;
	font-size: 14px;
	color: black;
	margin-top: 10px;
	margin-left: 50px;
	padding: 10px 10px 10px 30px;
	background-image: url("../iconos/pencil.png");
	background-repeat: no-repeat;
}
.butenv{
	background-color: #0B0B61;
	border: none;
	padding: 15px;
	width: 450px;
	color: white;
	font-size: 18px;
	margin-top: 40px;
	border-radius: 2px;
	margin-left: 50px;
}

/* footer*/
footer{
	background-color: #0B0B61;
	height: 60px;
}
.textfoot{
	padding: 25px 0px 10px 25px;
	color: white;
	font-size: 14px;
}